language: generic
os:
  - osx

before_install:
  - brew update
  - brew upgrade python
  - pip3 install certifi dulwich pyqt5 urllib3

install:
  - ./build_mac_app.sh

after_success:
  - git clone https://github.com/andreyvit/yoursway-create-dmg.git
  - pushd yoursway-create-dmg
  - bash ./create-dmg --volname "Pext" --volicon "../pext/images/scalable/pext.icns" --background "../pext/images/128x128/pext.png" --window-pos 200 120 --window-size 800 400 --icon-size 100 --icon Pext.app 200 190 --hide-extension Pext.app --app-drop-link 600 185 Pext.dmg ../dist
  - wget https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - if [ "$TRAVIS_BRANCH" != "master" ]; then export TRAVIS_EVENT_TYPE=pull_request; fi
  - bash upload.sh Pext.dmg

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/
