sudo: required
language: generic

os:
  - osx
  - linux

before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew upgrade python; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then pip3 install certifi dulwich pyqt5 urllib3 tox-travis; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then bash -xe travis/bootstrap-container.sh; fi
  # beware: the line below is a DIRTY HACK -- it will override the system pip -- the proper way to do this would be a virtualenv
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then wget https://bootstrap.pypa.io/get-pip.py -O- | sudo python3.6; sudo pip install tox-travis; fi

install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then bash build_mac_app.sh; fi

script:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then tox -v; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then python3.6 -m tox -v; fi
  # build dmg for macOS
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then git clone https://github.com/andreyvit/yoursway-create-dmg.git; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then pushd yoursway-create-dmg; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then bash ./create-dmg --volname "Pext" --volicon "../pext/images/scalable/pext.icns" --window-pos 200 120 --window-size 800 400 --icon-size 100 --icon Pext.app 200 190 --hide-extension Pext.app --app-drop-link 600 185 Pext.dmg ../dist; fi
  # build AppImage for Linux
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then mkdir -p build; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then cd build; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then bash -xe ../travis/build-appimage.sh; fi
  # test AppImage
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export PEXTHOME=$(mktemp -d); fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then chmod +x Pext*.AppImage; fi
  # temporary solution for
  # $ ./Pext*.AppImage --version
  # QXcbConnection: Could not connect to display
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export DISPLAY=:99.0; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sh -e /etc/init.d/xvfb start; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sleep 3; fi # give xvfb some time to start
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then env HOME="$PEXTHOME" ./Pext*.AppImage --version; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then env HOME="$PEXTHOME" SSL_CERT_DIR="/etc/ssl/certs" ./Pext-x86_64.AppImage --install-module=https://raw.githubusercontent.com/Pext/pext_module_emoji/master/metadata.json; fi
  - wget https://github.com/probonopd/uploadtool/raw/master/upload.sh

after_success:
  - if [ "$TRAVIS_BRANCH" != "master" ]; then export TRAVIS_EVENT_TYPE=pull_request; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then bash upload.sh Pext.dmg; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then bash upload.sh Pext*.AppImage*; fi

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/
    - # Also, don't build i18n, the only changes are uncompiled translation files
    - i18n

notifications:
    webhooks:
        urls:
            - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MFN5bHZpZUxvcnh1JTNBbWF0cml4Lm9yZy8lMjFQcEdURlpIeXVpY3ZQRGVNVUglM0FtYXRyaXgub3Jn"
        on_success: always
        on_failure: always
        on_start: never
