[Desktop Entry]
Type=Application
Name=Pext
Comment=Python-based extendable tool
Categories=Utility
Exec=pext
Icon=pext
StartupNotify=false
Terminal=false
