name: Packaging

on:
  push:
    branches-ignore:
      # Also, don't build i18n, the only changes are un-compiled translation files
      - 'i18n'
    tags-ignore:
      # Do not build tags that we create when we upload to GitHub Releases
      - 'continuous'
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    strategy:
      matrix:
        PEXT_BUILD_PORTABLE: [0, 1]
        # Operative systems: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
        # The Ubuntu version 22.04 has problems with Linux script to deploy plugin conda.
        OPERATIVE_SYSTEM: [ubuntu-18.04]
        # Python versions: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        # Python 3.6 has problems importing the requirement pyqt5==5.15.7.
        PYTHON_VERSION: ["3.11"]
      fail-fast: false
    name: "${{ matrix.OPERATIVE_SYSTEM }} Python-${{ matrix.PYTHON_VERSION }} Portable-${{ matrix.PEXT_BUILD_PORTABLE }}"
    runs-on: ${{ matrix.OPERATIVE_SYSTEM }}
    env:
      PEXT_BUILD_PORTABLE: ${{ matrix.PEXT_BUILD_PORTABLE }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      - name: Build
        run: bash -xve ci/build-linux.sh ${{ matrix.PYTHON_VERSION }}
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.OPERATIVE_SYSTEM }}_Python-${{ matrix.PYTHON_VERSION }}_Portable-${{ matrix.PEXT_BUILD_PORTABLE }}
          path: |
            build/Pext*.AppImage
            build/Pext*.AppImage.zsync
            pext/VERSION

  osx:
    strategy:
      matrix:
        # Pext portable: [0, 1]
        # The portable version is not working in macOS.
        PEXT_BUILD_PORTABLE: [0]
        # Operative systems: [macos-10.15, macos-11, macos-12]
        OPERATIVE_SYSTEM: [macos-latest]
        # Python versions: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        # Python 3.6 has problems importing the requirement pyqt5==5.15.7.
        PYTHON_VERSION: ["3.11"]
      fail-fast: false
    name: "${{ matrix.OPERATIVE_SYSTEM }} Python-${{ matrix.PYTHON_VERSION }} Portable-${{ matrix.PEXT_BUILD_PORTABLE }}"
    runs-on: ${{ matrix.OPERATIVE_SYSTEM }}
    env:
      PEXT_BUILD_PORTABLE: ${{ matrix.PEXT_BUILD_PORTABLE }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      - name: Build
        run: bash -xve ci/build-macos.sh ${{ matrix.PYTHON_VERSION }}
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.OPERATIVE_SYSTEM }}_Python-${{ matrix.PYTHON_VERSION }}_Portable-${{ matrix.PEXT_BUILD_PORTABLE }}
          path: |
            Pext*.zip
            Pext*.dmg

  upload:
    name: Create release and upload artifacts
    needs:
      - linux
      - osx
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Install libfuse
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage $(find . -iname "Pext*.*") $(find . -iname "VERSION")
